* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Header and footer */
header, footer {
  background-color: #2C3E50;
}
/* Main */
.jumbotron, .about, .button {
  background-color: #1ABC9C;
}

.link {
  background-color: #3A546D;
}

.green {
  color: #1ABC9C;
}

.bar {
  width: 140px;
  height: 3px;
  border-radius: 20px;
}
